a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container-header {
    display: flex;
    align-items: center;
    height: 64px;
    border: 1.5px;
    border-color: #111111;
    border-radius: 0px 0px 8px 8px;
}

@media screen and (min-width: 320px){
    .container-header {
       /* margin-left: auto;
       margin-right: auto; */
       padding-left: 20px;
       padding-right: 20px;
       max-width: 428px;
    }
}
@media screen and (min-width: 768px) {
    .header .container-header {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .header .container-header {
        max-width: 1200px;
    }
}

.header-logo {
    height: 28px;
    width: 109px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .header-logo {
        padding-right: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .header-logo {
        padding-left: 24px;
        padding-right: 76px;
    }
}

.header-link {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .header-link-nav {
    display: flex; 
    align-items: center;
}
}

@media screen and (max-width: 767.98px){
    .header-link-nav {
       display: none;
   }
}

@media screen and (min-width: 768px) {
    .header-link-nav-li {
    padding-right: 16px;
}
}
@media screen and (min-width: 1200px) {
    .header-link-nav-li {
    padding-right: 24px;
}
}


.header-shopping-icon {
    height: 20px;
    width: 20px;
}










.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--primary-white-color);
    /* z-index: 999; */
    /* transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .menu-container.is-open {
    transform: translateX(0);
} */
.menu-toggle {
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
}
.menu-container .icon {
    width: 28px;
    height: 28px;
}
.burger-shopping-icon {
    height: 20px;
    width: 20px;
}
.menu-button {
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: #ffffff;
}
@media (max-width: 767.98px) {
    .burger-btn {
        width: 28px;
        height: 28px;
    }
}
@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
}